:root {
    --azul: #474FCD;
    --hueso: #FFFEFA;
    --gris-tenue: #F7F6F2;
    --negro: #2F2F2F;
    --verde: #0C8A4B;
    --azul-2: #5258B2;
    --gris: #C3C3C3;
    --rojo: #D83838;
    --gris-texto: #747474;
    --fondo: #787EDA;
    --blanco: #ffffff;
    --large: 32px;
    --medium: 20px;
    --regular-l: 16px;
    --regular: 14px;
    --small: 12px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #f9f9f9;
    font-family: "Lato", serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-style: normal;
    font-weight: 800;
    line-height: 120%;
}

.container {
    margin-top: 40px;
    width: 700px;
    place-items: center;
}

.stepper-container{
    width: 100%;
    margin-top: 40px;
    height: 70px;
    background-color: var(--blanco);
    display: flex;
    justify-content: center;
}
.stepper {
    width: 480px;
    height: 70px;
    display: flex;

}
.step {
    width: 200px;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.step-circle{
    width: 30px;
    height: 30px;
    background-color: var(--gris);
    border: 1px solid var(--blanco);
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.user-icon {
    width: 15px;
    height: 17px;
    
}

.shopping-bag-icon, .currency-icon {
    width: 20px;
    height: 20px;
    
}

.line {
    width: 169px;
    height: 2px;
    background-color: var(--gris-tenue);
    margin-left: auto;
}

form {
    width: 100%;
    margin-top: 10px;
}

.form-field{
    background-color: var(--blanco);
    padding: 40px;
    margin-bottom: 18px;
}
.form-field-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    
}
.hidden {
    display: none;
}

.active {
    display: block;
}

.field-number {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-style: normal;
    color: var(--gris-texto);
}

.number{
    width: 20px;
    height: 20px;
    background-color: var(--gris-texto);
    color: var(--blanco);
    font-size: var(--small);
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
}

.p-form {
    color: var(--gris-texto);
    font-size: var(--regular);
    margin-top: 14px;
    margin-bottom: 30px;
}

input, label, button {
    display: block;
    width: 100%;
}

input, button, select {
    height: 44px;
    margin-bottom: 19px;
    padding-left: 15px;
    border: 1px solid var(--gris);
    border-radius: 5px;
}

label {
    font-weight: 500;
    margin-bottom: 5px;
    width: 100%;
}

button {
    background-color: var(--azul);
    color: var(--blanco);
    font-size: var(--medium);
    margin-top: 30px;
}

.radio-field {
    margin: 30px 0 30px 0;
    height: 44px;
    width: 620px; 
    border: 1px solid var(--gris);
    border-radius: 5px;
    display: flex; 
    overflow: hidden;
}

.radio-field label {
    display: flex;
    align-items: center; 
    justify-content: center; 
    height: 100%;
    flex-grow: 1;
    background-color: var(--blanco);
    color: var(--gris-texto);
    
}

.radio-field input[type="radio"] {
    display: none; 
}


.radio-field input[type="radio"]:checked + label {
    width: 240px; 
    background-color: var(--negro);
    color: var(--blanco);
    flex-grow: 0;
}


.radio-field input[type="radio"]:not(:checked) + label {
    flex-grow: 1; 
    width: auto; 
}


.half-width-label-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 620px;
}

.half-width-label {
    display: flex;
    flex-direction: column;
    width: 300.5px;
}

.opcion-recogida {
    width: 300px;
    height: 91px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 13.5px;
    padding-left: 20px;
    border: 1px solid var(--gris);
    border-radius: 5px;
}

.pickup-title {
    font-size: var(--regular-l);
    font-weight: 500;
}

.pickup-details {
    font-size: var(--small);
    color: var(--gris-texto);
}